@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

:root {
  --background-color-light: #77f7;
  --background-color-dark: #121212;
  --text-color-light: #121212;
  --text-color-dark: #ffffff;
  --background-color-account-info-light: #ffffff;
  --background-color-account-info-dark: #454444a5;
  --text-color-light-info: #121212;
  --text-color-dark-info: #adadad;
}


@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --account-info: var(--background-color-account-info-light);
    --text-color-info: var(--text-color-light-info);
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --account-info: var(--background-color-account-info-dark);
    --text-color-info: var(--text-color-dark-info);
  }

  
  img {
    filter: invert(1);
  }
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  font-family: 'Titillium Web';
  padding: 10px;
}

.info-background {
  background-color: var(--account-info);
  color: var(--text-color-info);
  padding: 5px;
}

/* Unvisited link */
a:link {
  color: #00bce2;
}

/* Visited link */
a:visited {
  color: #00778f;
}

/* Mouse over link */
a:hover {
  color: #008fab;
}
